<%= link_to(item_path(item)) do %>
  <div class="col-md-3 col-xs-12">
    <div class="panel">
      <div class="title"><%= item.name %></div>
      <div class="item_prop">
        <div>Bitterness</div>
        <input type="range" min=1 max=5 value=<%= item.bitterness%> readonly />
      </div>
      <div class="item_prop">
        <div>Acidity</div>
        <input type="range" min=1 max=5 value=<%= item.acidity%> readonly />
      </div>
      <div class="item_prop">
        <div>Body</div>
        <input type="range" min=1 max=5 value=<%= item.body%> readonly />
      </div>
    </div>
  </div>
<% end %>