<% provide(:title, "detail") %>
<h1><%= @item.name %></h1>
<div class="item_detail">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">Bitterness</div>
        <div class="col-md-6"><%= @item.bitterness %></div>
      </div>
      <div class="row">
        <div class="col-md-6">Acidity</div>
        <div class="col-md-6"><%= @item.acidity %></div>
      </div>
      <div class="row">
        <div class="col-md-6">Body</div>
        <div class="col-md-6"><%= @item.body %></div>
      </div>
      <div>
        <% if @item.tastes.any? %>
          <%  @item.tastes.each do |taste| %>
            <%= taste.taste %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <% if @item.areas.any? %>
          <div class="col-md-6">Area</div>
          <div class="col-md-6">
            <% @item.areas.each do |area| %>
              <%= area.area %>,
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-6">Roast</div>
        <div class="col-md-6"><%= @item.roast %></div>
      </div>
      <div class="row">
        <div class="col-md-6">Variety</div>
        <div class="col-md-6"><%= @item.variety %></div>
      </div>
      <div class="row">
        <div class="col-md-6">Process</div>
        <div class="col-md-6"><%= @item.process %></div>
      </div>
      <div class="row">
        <div class="col-md-6">Farm</div>
        <div class="col-md-6"><%= @item.farm %></div>
      </div>
    </div>
  </div>
  <div>
    <%= @item.description %>
  </div>
  <%= link_to "Edit", edit_item_path(@item), {class: "btn btn-primary"} %>
</div>